{{ define "main" }}
    {{ if .Site.Params.navbar }}
    {{ partial "top-nav-bar.html" . }}
    {{ end }}

    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}
    <!--How SparkWing Can help-->
    {{ if .Site.Params.featurecards }}
    {{ partial "featurecards.html" . }}
    {{ end }}
    <!--SparkWing Purpose and Vision-->
    {{ if .Site.Params.textlist }}
    {{ partial "textlist.html" . }}
    {{ end }}
    <!--SparkWing Comparison with Traditional Hiring-->
    {{ if .Site.Params.bigimage }}
    {{ partial "bigimage.html" . }}
    {{ end }}

    {{ if .Site.Params.testimonials }}
    {{ partial "testimonials.html" . }}
    {{ end }}

    {{ if .Site.Params.contact }}
    {{ partial "contact.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}